<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons>
    <ion-title>Quetionares</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row col-12  *ngFor="let question of questions">
        <ion-col col-8>{{question.Question}}</ion-col>
        <ion-col col-4>
            <ion-input *ngIf="question.QuestionResponseType !== 'check'" [type]="question.QuestionResponseType" [(ngModel)]="question.QuestionResponse"></ion-input>
            <ion-checkbox *ngIf="question.QuestionResponseType === 'check'" color="primary" [(ngModel)]="question.QuestionResponse"></ion-checkbox>

        </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
